:root {
    --font-heading: "Roboto Condensed", sans-serif;
    --font-mono: "Roboto Mono", monospace;
    --font-body: "Crimson Pro", serif;
    --font-size-base: 19px;
    --font-size-mono: 14px;
    --font-size-small: 16px;
}

body {
    background: #333;
    font-family: var(--font-body);
    font-size: var(--font-size-base);
}

h1,
h2,
h3 {
    font-family: var(--font-heading);
    line-height: 2.25rem;
    font-weight: 600;
}

code,
pre {
    font-family: var(--font-mono);
    font-size: var(--font-size-mono);
    color: #333;
    background-color: #f4f4f4;
}

pre code {
    line-height: 1.15em;
    padding: 0;
}

pre {
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
    white-space: pre-wrap;
}

code {
    padding: 2px 5px;
    border-radius: 2px;
}

a {
    text-decoration: none;
    color: currentColor;
    font-style: italic;
}

pre {
    max-width: 100%;
    word-break: break-all;
}

@page {
    size: A4;
    margin: 0.825in 0.65in 0.65in;
    text-align: justify;
    line-height: 1.25em;
    background: #fff;

    @bottom-right {
        content: counter(page);
    }
}

@page: left {
    margin-right: 1.25in;
    @top-left {
        font-family: var(--font-heading);
        font-size: var(--font-size-small);
        content: counter(page);
        margin-top: 1.25em;
    }
}

@page: right {
    margin-left: 1.25in;
    @top-right {
        font-family: var(--font-heading);
        font-size: var(--font-size-small);
        content: counter(page);
        margin-top: 1.25em;
    }
}

img {
    display: block;
    max-width: 90%;
    margin: 0 auto;
}

.chapter-cover {
    page-break-before: right;
    height: 50%;
    display: flex;
    margin-top: 20%;
}

.chapter-cover .chapter-name {
    flex: 1;
    text-align: left;
}

.chapter-cover .chapter-name h1 {
    font-size: 4em;
    line-height: 1.2em;
    margin-top: 0;
}

.chapter-cover .chapter-number {
    flex-basis: 15%;
    text-align: right;
}

.chapter-cover .chapter-number h1 {
    font-size: 6em;
    margin-top: 0.35em;
    margin-bottom: 0.35em;
}

.chapter-cover .chapter-number h4 {
    margin-top: 0.35em;
    font-size: 1.2em;
}

.chapter-cover .chapter-number h4 sup {
    font-size: 0.6em;
}

.page-break {
    break-after: page;
}

hr {
    width: 0;
    height: 0;
    visibility: hidde;
    break-after: page;
}

blockquote {
    background-color: #f9f9f9;
    border-left: 4px solid #808080;
    padding: 15px;
    margin: 10px 0;
}

blockquote p {
    line-height: 1.6em;
    color: #333;
    margin: 0;
}

.table-of-content h1 {
    margin: auto;
    text-align: center;
}

#toc li a::after {
    content: target-counter(attr(href), page);
    float: right;
}

/* set the style for the list numbering to none */
#list-toc-generated {
    list-style: none;
}

#list-toc-generated .toc-element {
    break-inside: avoid;
}

#list-toc-generated .toc-element a::after {
    content: ". " target-counter(attr(href), page);
    float: right;
}

#list-toc-generated .toc-element-level-1 {
    margin-top: 25px;
    font-weight: bold;
}

#list-toc-generated .toc-element-level-2 {
    margin-left: 25px;
}

/* counters */

#list-toc-generated {
    counter-reset: counterTocLevel1;
}

#list-toc-generated .toc-element-level-1 {
    counter-increment: counterTocLevel1;
    counter-reset: counterTocLevel2;
}

#list-toc-generated .toc-element-level-1::before {
    /* content: counter(counterTocLevel1) ". "; */
    padding-right: 5px;
}

#list-toc-generated .toc-element-level-2 {
    counter-increment: counterTocLevel2;
}

#list-toc-generated .toc-element-level-2::before {
    content: counter(counterTocLevel1) ". " counter(counterTocLevel2) ". ";
    padding-right: 5px;
}

/* hack for leaders */

#list-toc-generated {
    overflow-x: hidden;
}

/* fake leading */
#list-toc-generated .toc-element::after {
    content: ".............................................."
        ".............................................."
        ".............................................." "........";
    float: left;
    width: 0;
    padding-left: 5px;
    letter-spacing: 2px;
}

#list-toc-generated .toc-element {
    display: flex;
}

#list-toc-generated .toc-element a::after {
    position: absolute;
    right: 0;
    background-color: white;
    padding-left: 6px;
}

#list-toc-generated .toc-element a {
    font-style: normal;
    right: 0;
}