:root {
    --font-heading: 'Roboto Condensed', sans-serif;
    --font-mono: 'Courier Prime', monospace;
    --font-body: 'Crimson Pro', serif;
    --font-size-base: 19px;
    --font-size-small: 16px;
}

body {
    background: #333;
}

h1, h2, h3 {
    font-family: var(--font-heading);
    line-height: 2.5rem;
    font-weight: normal;
}

code, pre {
    font-family: var(--font-mono);
}

@page {
    size: executive;
    margin: 0.825in 0.625in 0.75in;
    text-align: justify;
    font-family: var(--font-body);
    font-size: var(--font-size-base);
    line-height: 1.25em;
    background: #FFF;
}

@page:left {
    @top-left {
        font-family: var(--font-heading);
        font-size: var(--font-size-small);
        content: counter(page);
        margin-top: 1.25em;
    }
}

@page:right {
    @top-right {
        font-family: var(--font-heading);
        font-size: var(--font-size-small);
        content: counter(page);
        margin-top: 1.25em;
    }
}

.chapter-cover {
    height: 50%;
    display: flex;
    margin-top: 20%;
}

.chapter-cover .chapter-name {
    flex: 1;
    text-align: left;
}

.chapter-cover .chapter-name h1 {
    font-size: 4.0em;
    line-height: 1.20em;
    margin-top: 0;

}

.chapter-cover .chapter-number {
    flex-basis: 20%;
    text-align: right;
}

.chapter-cover .chapter-number h1 {
    font-size: 6.0em;
    margin-top: 0.35em;
}


.page-break { break-after: page; }
